[options]
; Connexion à la base de données
db_host = db
db_user = admin
db_password = 7777777
db_name = odoo

; Chemins des modules
addons_path = /mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons

; Journalisation
logfile = /var/lib/odoo/odoo.log
log_level = info

; Performance
workers = 2
limit_memory_soft = 2147483648  # 2 Go
limit_memory_hard = 4294967296  # 4 Go